<a href="https://colab.research.google.com/github/senith-sulara/ML_Assignment2_IT19095240_IT19143828_IT18000818_IT19021058/blob/IT19021058/HeartDieases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#import Dataset
data = pd.read_csv('/content/drive/MyDrive/dataset/Heart_Disease_Prediction.csv')

In [4]:
#View Data
data

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

#Predictions and Evaluating the Model

In [ ]:
train_preds = model.predict(x_train)

In [ ]:
train_preds

In [ ]:
train_probs = model.predict_proba(x_train)
train_probs
#predict_proba returns a probabilistic prediction.

In [ ]:
model.classes_

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_train, train_preds)#prediction accuracy of the model

In [ ]:
confusion_matrix(y_train, train_preds)

In [ ]:
def predict_confusion_matrix(inputs, targets, name=''):
    predicts = model.predict(inputs)
    
    accu = accuracy_score(targets, predicts)
    print("Accuracy: {:.2f}%".format(accu * 100))
    
    conf = confusion_matrix(targets, predicts, normalize='true')
    plt.figure()
    sns.heatmap(conf, annot=True)
    plt.xlabel('Prediction')
    plt.ylabel('Target')
    plt.title('{} Confusion Matrix'.format(name));
    
    return predicts

In [ ]:
disp = predict_confusion_matrix(x_test, y_test, 'Testing')

In [ ]:
confusion_matrix(y_test, y_test)

In [ ]:
predictions = model.predict(x_test) #predict
print(predictions)

print(y_test)

print(classification_report(y_test, predictions))

print(accuracy_score(y_test, predictions))

In [ ]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test, predictions))
#confusion matrix for y_test and predictions