<a href="https://colab.research.google.com/github/senith-sulara/ML_Assignment2_IT19095240_IT19143828_IT18000818_IT19021058/blob/IT18000818/HeartDieases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#import Dataset
data = pd.read_csv('/content/drive/MyDrive/dataset/Heart_Disease_Prediction.csv')

In [4]:
#View Data
data

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [6]:
#convert string data to integer
heart_mapping = {'Presence': 1, 'Absence': 0}
data['Heart Disease'] = data['Heart Disease'].map(heart_mapping)

In [7]:
#After mapping data
data

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,1
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,0
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,1
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,0
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,0
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,0
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,0
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,0
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1

Missing Values

In [8]:
#Finding Null Values
data.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [9]:
count=0
for i in data.isnull().sum(axis=1):
    if i>0:
        count=count+1
print('missing values rows ', count)

missing values rows  0

The dataset has no null values.

#Predictions on a Single Input

Input new data

In [10]:
newinput = {'Age': 55,	'Sex': 1,	'Chest pain type': 1,	'BP': 140,	'Cholesterol': 200,	'FBS over 120': 0,	'EKG results': 2,'Max HR': 180,	'Exercise angina': 0,	'ST depression':0,	'Slope of ST': 1,	'Number of vessels fluro': 0,	'Thallium': 3}

Convert data to a dataframe in pandas

In [11]:
newinput_df = pd.DataFrame([newinput])

In [12]:
newinput_df

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,55,1,1,140,200,0,2,180,0,0,1,0,3

In [ ]:
predictions = model.predict(newinput_df) #prediction
print(predictions)

second data row

In [13]:
newinput_1 = {'Age': 57,	'Sex': 0,	'Chest pain type': 4,	'BP': 140,	'Cholesterol': 525,	'FBS over 120': 1,	'EKG results': 1,'Max HR': 170,	'Exercise angina': 0,	'ST depression':2.3,	'Slope of ST': 2,	'Number of vessels fluro': 1,	'Thallium': 7}

In [14]:
newinput_1_df = pd.DataFrame([newinput_1])

In [15]:
newinput_1_df

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,57,0,4,140,525,1,1,170,0,2.3,2,1,7

In [ ]:
predictions_1 = model.predict(newinput_1_df) 
print(predictions_1)